[submodule "vendor/stripe"]
	path = vendor/stripe
	url = https://github.com/stripe/stripe-php.git
[submodule "vendor/braintree"]
	path = vendor/braintree
	url = https://github.com/braintree/braintree_php.git
[submodule "vendor/gocardless"]
	path = vendor/gocardless
	url = https://github.com/gocardless/gocardless-php.git
[submodule "documentation/html/assets/bootstrap"]
	path = documentation/html/assets/bootstrap
	url = https://github.com/twitter/bootstrap/
